.header {
    padding: 24px 0 77px;
}

.header__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    margin: 40px 0 0;
}

.header__logo {

}

.header__burger {
    display: none;
}

.header__btn {
    display: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 0;
    border: none;
    background-color: var(--white);
}

.header__icon {
    fill: var(--black);
    height: 24px;
    width: 24px;
    vertical-align: middle;
}


@media (max-width: 1000px) {
    .header {
        padding: 17px 0 77px;
    }

    .header__btn {
        display: block;
    }

    .header__burger {
        display: block;
        position: absolute;
        top: 20px;
        left: 16px;
    }

    .header__logo {
        display: block;
        margin: 0 auto;
    }

    .header__title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
        color: var(--grey-4);
    }
}


