/* Стилизация кнопки */

.button {
    position: relative;
    top: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border: none;
    border-radius: 8px;
    text-align: center;
    min-width: 10em;
    height: 3em;
    cursor: pointer;
    color: var(--text-color, black);
    background: var(--background-color, white);
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out, top 200ms;
}

.button:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.button:active {
    top: 2px;
}

.button_primary {
    --background-color: var(--primary);
    --text-color: var(--white);
}

.button_primary:hover {
    --background-color: var(--primary-hover);
}

.button_secondary {
    --background-color: var(--secondary);
    --text-color: var(--white);
}

.button_secondary:hover {
    --background-color: var(--secondary-hover);
}

.button_alternate {
    --border-color: var(--grey-3);
    border: 1px solid var(--border-color);
}

.button_alternate:hover {
    --border-color: var(--black);
}

