body * {
    color: white;
    margin: 0;
}
h1 {
    padding: 0.4em;
    background: red;
    text-align: center;
}
nav {
    padding: 0.4em;
    font-size: 20px;
    background: orange;
    text-align: center;
}
nav a {
    margin-right: 0.4em;
}
main {
    background: #38c038;
    padding: 0.8em;
}
article {
    padding: 0.4em;
    text-align: left;
    background: blue;
}
article:last-child {
    margin-top: 0.4em;
}
article h2 {
    padding: 0.4em 0;
}
article ol, ul {
    padding-inline-start: 20px;
}
article li {
    font-size: 1em;
}
footer {
    padding: 15px;
    background: #b43ab4;
    text-align: center;
    font-size: 2em;
}