@import '../fonts/fonts.css';

@import '../../components/page/page.css';
@import '../../components/header/header.css';
@import '../../components/preview/preview.css';
@import '../../components/footer/footer.css';
@import '../../components/card/card.css';
@import '../../components/container/container.css';
@import '../../components/component/component.css';
@import '../../components/menu/menu.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple-1: #7048E8;
    --purple-2: #5028C6;
    --blue-1: #374FC7;
    --blue-2: #2342C0;
    --blue-3: #4263EB;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;

    --error: var(--red);
    --success: var(--blue-1);

    --primary: var(--blue-1);
    --primary-hover: var(--blue-2);
    --secondary: var(--purple-1);
    --secondary-hover: var(--purple-2);
}

* {
    font-family: 'Inter', sans-serif;
}

body, html {
    height: 100%;
}