.skeleton {
    box-sizing: border-box;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding:  24px 40px 32px 24px;
}

.skeleton__header {
    display: flex;
    gap: 16px;
    align-items: center;
}

.skeleton__lines {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    gap: 8px;
}

.skeleton__circle {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: var(--grey-2);
}

.skeleton__line {
    height: 20px;
    background: linear-gradient(92.51deg, var(--grey-2) 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, var(--grey-2) 102.52%);
}

.skeleton__body {
    padding-top: 24px;
    display: flex;
    flex-flow: column;
    gap: 8px;
}

.skeleton_line_small {
    width: 40%;
}

.skeleton_line_middle {
    width: 60%;
}