.menu {
    width: 285px;
}

.menu__title {
    margin: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

@media (max-width: 1000px) {
    .menu {
        display: none;
    }
}