.menu {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

.menu_desktop {
    width: 285px;
}

.menu__title {
    margin: 0px;
    font-size: 20px;
    line-height: 26px;
}

@media (max-width: 1000px) {
    .menu {
        display: none;
    }
}

.menu__header {
    position: relative;
}

.menu__line {
    margin: 24px 0px;
    height: 1px;
    background: var(--grey-2);
}

.menu__list {
    display: grid;
    gap: 16px;
}

.menu__topic {
    font-size: 20px;
    line-height: 26px;
    color: var(--grey-2);
}

.menu__point {
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    cursor: pointer;
}

.menu__point:active {
    color: #D84910;
}

.menu__mode {
    display: flex;
    justify-content: space-between;
}

.menu__mode-title {
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}