.preview {
    min-height: 300px;
    background: var(--grey-1);
    border-top: 1px solid var(--grey-2);
    border-bottom: 1px solid var(--grey-2);
}

.preview_detail {
    border: 0;
}

.preview__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    padding: 64px 0 98px 0;
}

.preview__double {
    display: grid;
    grid-template-columns: auto 1fr;
}
