.preview {
    min-height: 300px;
    background: var(--grey-1);
    border-top: 1px solid var(--grey-2);
    border-bottom: 1px solid var(--grey-2);
}

.preview_detail {
    border: 0;
}

.preview__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    padding: 64px 0 98px 0;
}

.preview__double {
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
}

.preview__title {
    margin: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.preview__menu {
    width: 285px;
}

.preview__component {
    background: var(--white);
}

.preview__component_height {
    height: 100%;
}
